@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto&display=swap');


nav.navbar, footer {
    background-color: #056838 !important;
}

.navbar-brand  {
    font-family: 'Architects Daughter', cursive;
    font-size: 24px;
    letter-spacing: 1px;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

/* TEAM */

.team-container, .supporters-container {
  min-height: calc(100vh - 48px - 86px - 96px)
}