* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  /* background-color: #fff; */
}

main {
  background-image: url(img/clown-lechia.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh;
}

#welcome-modal .modal-content {
  border-radius: 0;
}

#welcome-modal .modal-header {
  background-color: #25273A;
  color: #fff;
  padding: 5px 1rem;
  border-radius: 0;
}

#welcome-modal .modal-header .modal-title i {
  font-size: 20px;
  margin-right: 5px;
}

#welcome-modal .btn-close {
  background: none;
  color: #fff;
  opacity: 1;
  margin: -5px -15px 0 auto;
}

#welcome-modal .btn-close:hover {
  opacity: 0.6;
}

#welcome-modal .btn-close:focus, #welcome-modal .btn-close:active {
  outline: none;
  box-shadow: none;
}

#welcome-modal .btn-close-modal {
  float: right;
}

.modal-backdrop {
  background-color: none !important;
  background-image: url(img/witan-lechia.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}
.modal-backdrop.show {
  opacity: 1 ;
}