* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  /* background-color: #fff; */
}

.bg-green-lechia {
  background-color: #056838;
}

.navbar-toggler i {
  color: #fff;
}

section {
  height: 100vh;
}

section.home .row {
  overflow: hidden;
  height: calc(100vh - 50px);
}

section.home .row .left, section.home .row .right {
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll; 
}

section.home .video-container {
  padding-bottom: 30px;
  text-align: center;
}

section.home .video-container:last-child {
  padding-bottom: 60px;
}

section.home .video-container .video-title {
  text-align: left;
}


section.home .video-container iframe {
  width: 680px;
  height: 400px;
}

section.team {
  background-color: #0d260e;
  font-size: 20px;
  letter-spacing: 1px;
}

section.team caption {
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  section.home .video-container iframe {
    width: 510px;
    height: 300px;
  }
}


@media only screen and (max-width: 768px) {
  section.home .video-container iframe {
    width: 340px;
    height: 200px;
  }
}