/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
}

.bg-green-lechia {
  background-color: #056838;
}

.navbar-toggler i {
  color: #fff;
}

.navbar-brand {
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.brand-text {
 margin-left: 10px;
 font-family: 'Architects Daughter', cursive;
 font-size: 30px;
 letter-spacing: 1px;
}

.navbar-nav {
  font-size: 18px;
  margin-left: auto;
  margin-right: 10px;
}

.navbar-nav .nav-item:hover {
  cursor: pointer;
}

section {
  height: 100vh;
}

section.home .row {
  overflow: hidden;
  height: calc(100vh - 50px);
}

section.home .row .left, section.home .row .right {
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll; 
}

.home .row .left .video-section-header-holder {
  padding: 10px;
  border-bottom: 1px solid rgba(15,70,100,.12);
}

.home .row .left .video-section-header-holder .video-section-header {
  font-size: 21px;
  margin: 0;
  padding: 0;
}

section.home .video-container {
  border-bottom: 1px solid rgba(15,70,100,.12);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px 10px 30px;
  text-align: center;
  background-color: #FAFBFC;
}

section.home .video-container:hover {
  background-color: #f5f8fa;
}

section.home .video-container:last-child {
  margin-bottom: 80px;
}

section.home .video-container .video-title {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}


section.home .video-container iframe {
  width: 680px;
  height: 400px;
}

section.team {
  /* background-color: #0d260e; */
  font-size: 20px;
  letter-spacing: 1px;
}

section.team table {
  font-size: 16px;
}

section.team caption {
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  section.home .video-container iframe {
    width: 510px;
    height: 300px;
  }
}


@media only screen and (max-width: 768px) {
  section.home .video-container iframe {
    width: 340px;
    height: 200px;
  }
  .navbar-brand {
    margin-left: 0;
  }
}